/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.custom-container{
    padding: 0 10%;
    
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
   background: #f1f1f1;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
   background: #3a3a3a;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #3a3a3a;
}
