<mat-toolbar style="background-color: #272643; color: white;" class="mat-elevation-z8 my-header">
  
  <span class="logo-text">MovieRate</span>
    <div class="spacer"></div>
  <input matInput type="text" class="my-search">
  
  <a class="temp-a" mat-button routerLink="">Home</a>
  <a mat-button routerLink="actors">Actors</a>
  <a mat-button routerLink="movies">Films</a>
  <a mat-button routerLink="register" class="auth-element auth-element-register">Register</a>
  <a mat-raised-button color="login" routerLink="signup" class="auth-element auth-element-login">Login</a>
 </mat-toolbar>