.bg{
    min-height: 100vh;
    padding: 0 5%;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 7fr;
    column-gap: 1%;
    background: #41295a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Montserrat', sans-serif;
}

.actors-block{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 25px;
    row-gap: 10px;
}

.actor-name{
    color: white;
    margin-top: 5px;
}

.actor-img{
    border-radius: 5px;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.search{
    width: 100%;
    font-size: 20px;
}

.filter-name{
    color: white;
}

.filters-block{
    background-color: rgba(0, 0, 0, 0.301);
    padding: 15px;
}

.filter-title{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

@media screen and (max-width: 1000px){
    .actors-block{
        grid-template-columns: repeat(4,1fr);
    }
}

@media screen and (max-width: 600px){
    .actors-block{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width: 400px){
    .actors-block{
        grid-template-columns: repeat(2,1fr);
    }
}