.bg{
    min-height: 100vh;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 50px 5%;
}

.top{
    display: grid;
    column-gap: 5%;
    grid-template-columns: 3fr 8fr;
}

.movie-img{
    display: block;
    max-width: 100%;
    border-radius: 5px;
}

.movie-name{
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.movie-original-name{
    font-size: 24px;
    color: rgb(226, 226, 226);
}

.data-table{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 25px;
}

.data-title{
    font-size: 24px;
    font-weight: 600;
}

.data{
    font-size: 24px;
    text-align: right;
}

.hr-mid{
    margin-top: 25px;
    margin-bottom: 25px;
}

.desc-title{
    font-size: 36px;

}

.desc{
    margin-top: 25px;
    font-size: 24px;
}

.movie-actors-title{
    text-transform: capitalize;
    font-size: 36px;
    margin-bottom: 25px;
}

.movie-actors{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    row-gap: 10px;
    column-gap: 1%;
}

.rate{
    display: grid;
    grid-template-columns: 8fr 2fr;
    font-size: 24px;
}

.rating{
    text-align: right;
}

.action{
    align-self: center;
}

.rating-text{
    font-size: 40px;
    font-weight: 600;
}

.user-img{
    display: block;
    object-fit: cover;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.movie-reviews{
    padding: 25px 5%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    background-color: #0F2027;
    border-radius: 15px 15px 0px 0px;
}

.review{
    display: grid;
    grid-template-columns: 1fr 10fr;
    background-color: #203A43;
    padding: 15px;
    border-radius: 5px;
}

.review-data{
    display: grid;
    grid-template-columns: 1fr;
}

.review-title{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.review-text{
    font-size: 18px;
    overflow-wrap: anywhere;
    font-style: italic;
}

.review-user-name{
    margin-top: 5px;
    font-size: 15px;
    text-transform: capitalize;
}

.movie-reviews-title{
    font-size: 36px;
    padding-bottom: 25px;
}

.movie-review-write{
    padding: 25px 5%;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #2C5364;
    border-radius: 0px 0px 15px 15px;
}

.movie-review-write-title{
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
    width: 25%;
}

.movie-review-write-text{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.comment-btn{
    margin-top: 10px;
    width: 10%;
}

.admin-panel{
    margin-top: 25px;
}

.admin-btn{
    margin-right: 10px;
}

.trailer{
    margin-top: 25px;
}

.edit{
    display: grid;
    grid-template-columns: 1fr;
}

.edit-input{
    font-size: 24px;
    margin-bottom: 10px;
    color: gray;
}

.url-input{
    display: grid;
    grid-template-columns: 1fr;
}

.edit-img{
    margin-bottom: 10px;
}