<div class="bg">
    <div class="top">
        <div class="media">
            <img [src]="getImg(movie.pictureUrl)" class="movie-img">
        </div>
        <div class="info">
            <div class="movie-name">{{movie.name}}</div>
            <div class="movie-original-name">{{movie.name}}</div>
            <hr class="hr-white">
            <div class="data-table">
                <div class="data-title">Year:</div>
                <div class="data">{{movie.year}}</div>
                <div class="data-title">Country:</div>
                <div class="data">{{movie.country}}</div>
                <div class="data-title">Genre:</div>
                <div class="data">{{movie.genre}}</div>
                <div class="data-title">Director</div>
                <div class="data">{{movie.director}}</div>
                <div class="data-title">Budget:</div>
                <div class="data">{{movie.budget}}$</div>
                <div class="data-title">Length:</div>
                <div class="data">{{movie.length}}min</div>
            </div>
            <div class="trailer">
                <button (click)="showTrailer()" pButton type="button" label="Watch trailer"></button>
                <p-dialog header="{{movie.name}} trailer" [(visible)]="display3">
                    <video controls class="movie-trailer">
                        <source [src]="movie.trailerUrl">
                    </video>
                </p-dialog>
            </div>
            <div *ngIf="isAdmin" class="admin-panel">
                <button (click)="showActorManager()" class="admin-btn p-button-help" pButton type="button"
                    label="Add actor"></button>
                <p-dialog header="Add actor" [(visible)]="display">
                    <p-table [value]="movieAvailableActors">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 5%;">Id</th>
                                <th>Photo</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                            <tr>
                                <td>{{data.id}}</td>
                                <td><img class="movie-img" src="{{data.pictureUrl}}" alt=""></td>
                                <td>{{data.name}} {{data.surname}}</td>
                                <td>
                                    <button (click)="addMovieActor(data.id)" pButton type="button" label="Add"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-dialog>
                <button (click)="showActorManager2()" class="admin-btn p-button-help" pButton type="button"
                    label="Delete actor"></button>
                <p-dialog header="Delete actor" [(visible)]="display2">
                    <p-table [value]="movieActors">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 5%;">Id</th>
                                <th>Photo</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                            <tr>
                                <td>{{data.id}}</td>
                                <td><img class="movie-img" src="{{data.pictureUrl}}" alt=""></td>
                                <td>{{data.name}} {{data.surname}}</td>
                                <td>
                                    <button (click)="deleteMovieActor(data.id)" pButton type="button"
                                        label="Delete"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-dialog>
                <button (click)="showEditMovie()" pButton type="button" class="p-button-help admin-btn" label="Edit movie"></button>
                <p-dialog header="Edit movie" [(visible)]="display4">
                    <div class="edit">
                        <input class="edit-input" type="text" pInput [(ngModel)]="movieEdit.name" placeholder="Name">
                        <input class="edit-input" type="text" pInput [(ngModel)]="movieEdit.originalName" placeholder="Original name">
                        <input class="edit-input" type="number" pInput [(ngModel)]="movieEdit.year" placeholder="Year">
                        <input class="edit-input" type="text" pInput [(ngModel)]="movieEdit.genre" placeholder="Genre">
                        <input class="edit-input" type="text" pInput [(ngModel)]="movieEdit.director" placeholder="Director">
                        <input class="edit-input" type="number" pInput [(ngModel)]="movieEdit.budget" placeholder="Budget">
                        <div class="url-input">
                            <img class="edit-img" [src]="movieEdit.pictureUrl">
                            <input class="edit-input" type="text" pInput [(ngModel)]="movieEdit.pictureUrl" placeholder="Picture url">
                        </div>
                        <button (click)="editMovie()" pButton type="button" label="Edit"></button>
                    </div>
                </p-dialog>
                <button (click)="confirmDelete()" pButton type="button" class="p-button-danger admin-btn" label="Delete movie"></button>

            </div>
        </div>
    </div>
    <hr class="hr-mid">
    <div class="middle">
        <div class="rate">
            <div class="action">
                <p-rating (onRate)="rateMovie()" [(ngModel)]="rate" [cancel]="false"></p-rating>
                <div class="movie-rating-title">Current movie rating:</div>
                <div class="rating-text">{{movie.rating.toFixed(2)}}</div>
            </div>
            <div class="rating">

            </div>
        </div>
        <hr class="hr-mid">
        <div class="desc-title">Description:</div>
        <div class="desc">{{movie.description}}</div>
        <hr class="hr-mid">
        <div *ngIf="hasActors" class="movie-actors-title">{{movie.name}} actors:</div>
        <div *ngIf="hasActors" class="movie-actors">
            <div *ngFor="let data of movieActors" class="actor">
                <img class="movie-img" [src]="getImg(data.pictureUrl)">
            </div>
        </div>
        <hr *ngIf="hasActors" class="hr-mid">
        <div class="movie-reviews-title">Reviews:</div>
        <div class="movie-reviews">
            <div *ngFor="let data of movieReviews" class="review">
                <div class="review-user">
                    <img class="user-img" [src]="getUserImg()">
                </div>

                <div class="review-data">
                    <div class="review-title">{{data.title}}</div>
                    <div class="review-text">{{data.text}}</div>
                </div>
            </div>
        </div>
        <div *ngIf="isLoggedIn" class="movie-review-write">
            <input [(ngModel)]="review.title" placeholder="Title" type="text" class="movie-review-write-title">
            <textarea [(ngModel)]="review.text" placeholder="Text" class="movie-review-write-text" cols="30"
                rows="10"></textarea>
            <button (click)="sendReview()" class="comment-btn" type="button" pButton label="Comment"></button>
        </div>
    </div>

</div>