<div class="background">
  <div class="upper-block">
    <div class="actor-photo">
      <img class="actor-grid-image" src="{{actor.pictureUrl}}" alt="">
    </div>
    <div class="actor-info">
      <p class="actor-name">{{actor.name}} {{actor.surname}}</p>
      <p class="about">About actor:</p>
      <hr class="actor-hr">
      <table class="actor-data">
        <tr>
          <th>Country:</th>
          <td>{{actor.country}}</td>
        </tr>
        <tr>
          <th>Age</th>
          <td>{{actor.age}}</td>
        </tr>
        <tr>
          <th>Count of films:</th>
          <td>{{actor.countFilms}}</td>
        </tr>
        <tr>
          <th>Birth year:</th>
          <td>{{actor.birthYear}}</td>
        </tr>
      </table>
      <div class="admin-add-actor-photo">
        <button class="btn-manager">Add photo</button>

        <button (click)="showModal()" class="btn-manager">Add film</button>
        <nz-modal nzWidth="800px" [(nzVisible)]="isVisible" nzTitle="Add actor film" (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()">
          <ng-container *nzModalContent>
            <div class="add-actor-film">
              <nz-table #basicTable [nzData]="availableMovies">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>
                      
                    </th>
                    <th>Name</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of basicTable.data">
                    <td>{{data.id}}</td>
                    <td>
                      <img src="{{data.pictureUrl}}" alt="">
                    </td>
                    <td>{{data.name}}</td>
                    <td>
                      <a>Add</a>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </ng-container>
        </nz-modal>
      </div>
    </div>
  </div>
  <div class="middle-block">
    <p class="desc-title">Description:</p>
    <hr>
    <p class="actor-desc">
      {{actor.description}}
    </p>
  </div>
  <div class="inter-block">
    <p class="actor-films-header">Films:</p>
    <div class="films">
      <div class="film" *ngFor="let item of actorMovies">
        <img src="{{item.pictureUrl}}" alt="">
        <p class="film-name">{{item.name}}</p>
      </div>
    </div>
  </div>
  <div class="lower-block">
    <p class="actor-photos-title">Actor photos:</p>
    <hr class="actor-hr">
    <div class="actor-photos">
      <img *ngFor="let item of actorPhotos" class="gallery-grid-image" src="{{item.pictureUrl}}" alt="">
    </div>
  </div>
</div>