<div class="background">
  <div class="custom-container">
    <div class="main-content">
      <div class="row">
        <div class="media-block col-lg-4 col-xs-12">
          <ul class="media-list">
            <li>
              <img class="cover-img" src="https://avatars.mds.yandex.net/get-kinopoisk-image/1600647/430042eb-ee69-4818-aed0-a312400a26bf/300x450" alt="">
            </li>
            <li>
              <iframe class="cover-trailer" src="https://kino-teatr.ua/public/main/films/trailer_6254.mp4"></iframe>
            </li>
          </ul>
        </div>
        <div class="movie-text col-lg-6 col-xs-12">
          <h1 class="movie-name">Інтерстеллар</h1>
          <h5 class="movie-original-name">Interstellar</h5>
          <hr>
          <h4 class="about-film">About film:</h4>
          <hr>
          <div class="row">
            <div class="ctg col-8">
              <h3>Country:</h3>
              <h3>Director:</h3>
              <h3>Genre:</h3>
              <h3>Composer:</h3>
              <h3>Operator:</h3>
              <h3>Slogan:</h3>
              <h3>Budget:</h3>
              <h3>Length:</h3>
              <h3>Views:</h3>
            </div>
            <div class="txt col-4">
              <h3 class="h-txt">USA</h3>
              <h3 class="h-txt">Nolan</h3>
              <h3 class="h-txt">Fantastic</h3>
              <h3 class="h-txt">Hanz Zimmer</h3>
              <h3 class="h-txt">Nolan</h3>
              <h3 class="h-txt">We are the future</h3>
              <h3 class="h-txt">30 000 000$</h3>
              <h3 class="h-txt">180min</h3>
              <h3 class="h-txt">100 000 000</h3>
            </div>
          </div>
        </div>
        <div class="movie-actors col-2">
          <h4>Actors:</h4>
          <ul class="actors-list">
            <li>Matthew McConaughey</li>
            <li>Ann Hetevey</li>
            <li>Jessica Chastain</li>
            <li>Mackenzie Foy</li>
            <li>Michael Caine</li>
          </ul>
        </div>
      </div>
      <div class="desc-block">
        <hr>
        <h3>Description:</h3>
        <hr>
        <p>Interstellar is a 2014 American-British epic science fiction film directed and produced by Christopher Nolan. It stars Matthew McConaughey, Anne Hathaway, Jessica Chastain, Bill Irwin, Ellen Burstyn, John Lithgow, Michael Caine, and Matt Damon. Set in a dystopian future where humanity is struggling to survive, the film follows a group of astronauts who travel through a wormhole near Saturn in search of a new home for mankind.

          Brothers Christopher and Jonathan Nolan wrote the screenplay, which had its origins in a script Jonathan developed in 2007. Christopher produced Interstellar with his wife, Emma Thomas, through their production company Syncopy, and with Lynda Obst through Lynda Obst Productions. Caltech theoretical physicist and 2017 Nobel laureate in Physics[4] Kip Thorne was an executive producer, acted as scientific consultant, and wrote a tie-in book, The Science of Interstellar. Paramount Pictures, Warner Bros., and Legendary Pictures co-financed the film. Cinematographer Hoyte van Hoytema shot it on 35 mm in the Panavision anamorphic format and IMAX 70 mm. Principal photography began in late 2013 and took place in Alberta (Canada), Iceland and Los Angeles. Interstellar uses extensive practical and miniature effects and the company Double Negative created additional digital effects.
          
          Interstellar premiered on October 26, 2014, in Los Angeles, California. In the United States, it was first released on film stock, expanding to venues using digital projectors. The film had a worldwide gross of over $677 million (and $696 million with subsequent re-releases), making it the tenth-highest-grossing film of 2014. Interstellar received positive reviews for its screenplay, direction, themes, visual effects, musical score, emotional depth, acting, and ambition. At the 87th Academy Awards, the film won the Academy Award for Best Visual Effects, and was nominated for Best Original Score, Best Sound Mixing, Best Sound Editing and Best Production Design.</p>
      </div>
      <div class="gallery">
        <ul class="photo-list">
          <img src="https://cdn.onebauer.media/one/empire-tmdb/films/157336/images/xu9zaAevzQ5nnrsXN6JcahLnG4i.jpg?quality=50&width=1800&ratio=16-9&resizeStyle=aspectfill&format=jpg" alt="">
          <img src="https://m.media-amazon.com/images/M/MV5BNjM5OTQzMTg4N15BMl5BanBnXkFtZTgwOTgyMjM0NTE@._V1_CR0,59,640,360_AL_UX477_CR0,0,477,268_AL_.jpg" alt="">
          <img src="https://observer.com/wp-content/uploads/sites/2/2020/08/MV5BMjI5MTUzMTg4N15BMl5BanBnXkFtZTgwNTEyODgxMzE@._V1_SX1500_CR001500999_AL_.jpg?quality=80&w=635" alt="">
          <img src="https://www.denofgeek.com/wp-content/uploads/2020/07/Jessica-Chastain-in-Interstellar-fire-crops.jpg?fit=1264%2C675" alt="">
          <img src="https://www.denofgeek.com/wp-content/uploads/2016/08/Interstellar-primary1.jpg?fit=1300%2C731" alt="">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHDZjP7JAYLxpbV_RJA3voXvkGN_y9Ak2S5A&usqp=CAU" alt="">
          <img src="https://www.fanbolt.com/wp-content/uploads/2014/11/interstellar-review.jpg" alt="">
          <img src="https://img.cinemablend.com/filter:scale/quill/0/a/c/b/7/6/0acb76d743cdd053c5f6f10076cc5e85a1dbe870.jpg?mw=600" alt="">
        </ul>
      </div>
      
      <div class="rating-block">

      </div>

      <div class="reviews">
        <hr>
        <h3>Film reviews:</h3>
        <hr>
        <ul class="review-list">
          <li>
            <div class="row">
              <div class="user-info col-2">
                <img src="https://i.pinimg.com/236x/ec/46/8c/ec468ce45db32934ff7c385610b7f3f4.jpg" alt="" class="avatar">
                <h3>Username</h3>
              </div>
              <div class="col-10 review-text-block">
                <h2>I have watched this film</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ut a corrupti tempore nemo sint nulla. Nostrum sint explicabo, harum, delectus molestiae asperiores suscipit ipsum, inventore nobis eius optio quos.
                Velit, quam maiores! Sunt commodi maxime omnis consequatur, molestias exercitationem asperiores possimus, temporibus quam eos at quo numquam a impedit fugit? Quasi, eum aut esse natus fugit odit dolor optio?
                Suscipit sapiente esse assumenda aperiam eligendi, quas consectetur quasi omnis eaque officiis natus quae nam pariatur tempora dolore eveniet at, hic cumque voluptates dolores excepturi. Totam veritatis voluptas est eius.
                Excepturi, magni similique. Velit aperiam unde tenetur blanditiis officia delectus soluta error nihil impedit inventore. Perspiciatis corporis repudiandae saepe aperiam architecto quas dolore quae! Quam sapiente perspiciatis velit sed asperiores.
                Eos nulla est assumenda nisi sed eligendi, ipsa facilis rerum, obcaecati rem optio, nihil eveniet? Expedita eius, obcaecati tempora tempore, consequatur iste fugiat, tenetur maxime labore assumenda et natus quaerat.</p>
                <div class="user-review-rating">
                  <h3>Rating:</h3>
                  <h4>8/10</h4>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      </div>
  </div>
</div>
