.background{
    background-color: #888888;
}

.container-bg{
    background-color: #EEEEEE;
    height: 1400px;
}

.my-content{
    height: 1400px;
}

.actor-list{
    padding-top: 50px;
    list-style-type: none;
}

.object-name{
    font-size: 50px;
    color: white;
}

.actor-list li{
    margin-bottom: 10px;
}

.actor-img{
    border-radius: 15px;
    padding: 10px;
    max-width: 10%;
    height: auto;
    display: block;
    margin: 0;
}

.actor-block{
    border-radius: 15px;
    background-color: #3a3a3a;
}

.object-name{
    font-size: 20px;
    font-weight: 500;
}

.desc-block{
    list-style-type: none;
    padding: 10px;
}

.hr-white{
    background-color: white;
}

.desc-block h5{
    font-size: 12px;
    font-weight: 400;
    color: white;
}