.section{
    background-color: rgb(29, 29, 29);
    padding: 50px 5%;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    background-attachment: fixed;
}

.section-actors{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 25px;
    row-gap: 50px;
}
.actors{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
}

@media screen and (max-width: 1150px){
    .actors{
        grid-template-columns: repeat(4,1fr);
    }
}

@media screen and (max-width: 650px){
    .actors{
        grid-template-columns: repeat(2,1fr);
    }
}

.btn-filter{
    margin-top: 5px;
}

.table-img{
    display: block;
    object-fit: cover;
    max-width: 100%;
    border-radius: 10%;
    width: 150px;
    height: 150px;
    margin: 5px;
}

.actors-filters{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

th,td{ 
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

p-chip:hover{
    cursor: pointer;
}

:host ::ng-deep .p-chip.custom-chip {
    background: rgb(32, 158, 0);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}