.background{
    background-image: url('https://images.alphacoders.com/108/1084146.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.my-text-block{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.block-title{
    padding-top: 200px;
    width: 35%;
    font-size: 36px;
    font-weight: 800;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.block-text{
    margin-top: 10px;
    font-weight: 500;
    width: 35%;
    font-size: 24px;
}

.categories-route{
    margin-top: 40px;
    margin-bottom: 50px;
}

.first-block{
    width: 35%;
}

.first-block img{
    width: auto;
    height: auto;
    max-width: 200px !important;
    max-height: auto;
}

.list-img{
    list-style-type: none;
    padding: 0 !important;
    height: 325px;
    display: flex;
}

.list-img li:last-child{
    margin-left: 10%;
}

.img-img{
    border-radius: 15px 15px 0px 0px;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    filter: drop-shadow(1px 1px 10px black);
    filter: contrast(85%);
}

h2{
    color: #ffffff;
    font-weight: 500;
    font-size: 25px;
}

.li-btn{
    cursor: pointer;
}

.announce-block{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 100px;
}

.h2-desc{
    text-shadow: 2px 0 0 rgb(0, 0, 0);
    text-align: center;
}

.text-border{
    text-align: center;
    background-color: #000a1d;
    border-radius: 0px 0px 50px 50px;
}

.col-img{
    width: 150px;
    height: 225px;
}

.head-movie-block h5{
    font-size: 10px;
    width: 20%;
    margin-right: 20px !important;
}

.container h2{
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.col-img{
    width: 80%;
    height: auto;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

.see-more-h2{
    text-align: center;
    margin-top: 10px;
}

.hr-white{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    height: 2px;
}

.text-border h2{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.items-block{
    display: flex;
    justify-content: space-around;
}

.donate-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
}

.donate .row .col-12 button{
    margin: auto 30%;
    width: 40%;
    background-color: #001488;
    height: 75px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: white;
    text-shadow: 2px 0 0 rgb(0, 0, 0);
}
