<div class="background">
  <div class="custom-container">
    <div class="my-text-block">
      <div class="block-title">
        One of the best site to rate your favourite movies
      </div>
      <div class="block-text">
        Film database where you can find a lot of interesting
        and exciting movies. Also you can buy subscription and watch films
        and serial you would like to watch Here you can look for a new films,
        rate films you had already watched and read film reviews.
      </div>
    </div>
    <div class="categories-route">
      <div class="first-block">
        <ul class="list-img">
          <li class="li-btn">
            <img class="img-img" src="https://avatars.mds.yandex.net/get-kinopoisk-image/1600647/430042eb-ee69-4818-aed0-a312400a26bf/300x450" alt="">
            <div class="text-border">
              <h2>TOP 100</h2>
            </div>
          </li>
          <li class="spacer"></li>
          <li class="li-btn">
            <img class="img-img" src="https://avatars.mds.yandex.net/get-kinopoisk-image/1946459/83a758fc-d3f9-485a-b75f-530fb611d63c/300x450" alt="">
            <div class="text-border">
              <h2>SOON</h2>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <hr class="hr-white">

    <div class="announce-block">
      <div>
        <h2 class="h2-desc">Here you can watch the most popular and new films</h2>
        <hr class="hr-white">
      </div>

      <div class="row items-block">
        <div class="">
          <img src="{{headMovies[0].pictureUrl}}"/>
          <h2>{{headMovies[0].name}}</h2>  
        </div>
        <div class="">
          <img src="{{headMovies[1].pictureUrl}}"/>
          <h2>{{headMovies[1].name}}</h2>  
        </div>
        <div class="">
          <img src="{{headMovies[2].pictureUrl}}"/>
          <h2>{{headMovies[2].name}}</h2>  
        </div>
        <div class="">
          <img src="{{headMovies[3].pictureUrl}}"/>
          <h2>{{headMovies[3].name}}</h2>  
        </div>
     </div>
    </div>
    
    <div style="height: 50px;"></div>

  </div>
</div>
