<div class="background">
  <div class="content-block">
    <div class="grid-item">
      <div class="form" *ngIf="div1 == true">
        <p class="add-actor-header">Add actor </p>
        <input class="form-input" nz-input placeholder="Name" [(ngModel)]="actor.name"/>
        <input class="form-input" nz-input placeholder="Surname" [(ngModel)]="actor.surname"/>
        <input class="form-input" nz-input placeholder="Country" [(ngModel)]="actor.country"/>
        <input class="form-input" nz-input placeholder="Description" [(ngModel)]="actor.description"/>
        <input class="form-input" nz-input placeholder="Age" [(ngModel)]="actor.age"/>
        <input class="form-input" nz-input placeholder="Count of films" [(ngModel)]="actor.countFilms"/>
        <input class="form-input" nz-input placeholder="Birth year" [(ngModel)]="actor.birthYear"/>
        <input class="form-input" nz-input placeholder="Picture Url" [(ngModel)]="actor.pictureUrl"/>
        <button class="btn-manager" (click)="postActor()">Add actor</button>
      </div>

      <div class="form" *ngIf="div2 == true">
        <p class="add-actor-header">Edit actor</p>
        <input class="form-input" nz-input placeholder="Name" [(ngModel)]="actor.name"/>
        <input class="form-input" nz-input placeholder="Surname" [(ngModel)]="actor.surname"/>
        <input class="form-input" nz-input placeholder="Country" [(ngModel)]="actor.country"/>
        <input class="form-input" nz-input placeholder="Description" [(ngModel)]="actor.description"/>
        <input class="form-input" nz-input placeholder="Age" [(ngModel)]="actor.age"/>
        <input class="form-input" nz-input placeholder="Count of films" [(ngModel)]="actor.countFilms"/>
        <input class="form-input" nz-input placeholder="Birth year" [(ngModel)]="actor.birthYear"/>
        <input class="form-input" nz-input placeholder="Picture Url" [(ngModel)]="actor.pictureUrl"/>
        <button class="btn-manager" (click)="editActor()">Edit actor</button>
      </div>
      
    </div>
    <div class="grid-item">
      <button class="btn-manager" (click)="showAddActor()">Add actor</button>
      <nz-table #basicTable [nzData]="list">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.surname }}</td>
            <td>
              <a (click)="showEditActor(data.id)">Edit</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="deleteActor(data.id)">Delete</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>