.tab-menu{
    padding: 0 5%;
    padding-top: 50px;
}


.table-action{
    margin-left: 10px;
}

.modal-content{
    padding: 15px;
}

.form-item{
    margin-bottom: 10px;
}

.btn-edit{
    margin-top: 10px;
}

.add-actor{
    margin-bottom: 25px;
}

.add-title{
    font-family: 'Montserrat',sans-serif;
    font-size: 36px;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
}