.bg{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Montserrat', sans-serif;
    color: white;
    min-height: 100vh;
}

.top{
    padding: 50px 5%;
    display: grid;
    column-gap: 10%;
    grid-template-columns: 2fr 8fr;
}

.actor-img{
    display: block;
    max-width: 100%;
    border-radius: 5px;
}

.actor-name{
    font-size: 48px;
}

.actor-data{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    margin-top: 50px;
}

.data-title{
    font-size: 24px;
    font-weight: 600;
}

.data{
    font-size: 24px;
    text-align: right;
}

.actor-data-img{
    width: 200px;
    height: 100px;
    object-fit: cover;
    max-width: 100%;
    display: block;
}

.actor-add-photo{
    padding: 15px;
}

.photo-btn{
    margin-right: 10px;
}

.url-input{
    font-size: 20px;
    width: 100%;
    margin-bottom: 5px;
}

.mid{
    padding: 25px 5%;
}

.actors-title{
    font-size: 36px;
}

.actor-carousel{
    text-align: center;
    margin-top: 25px;
}

.desc{
    font-size: 24px;
    margin-bottom: 25px;
}

.actor-carousel-img{
    width: 1200px;
    height: 600px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 5px;
}

.actor-carousel-img-movie{
    height: 450px;
    width: 300px;
    max-width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;
}