<div class="bg">
  <div class="top">
    <div class="media">
      <img class="actor-img" [src]="actor.pictureUrl">
    </div>
    <div class="info">
      <div class="actor-name">{{actor.name}} {{actor.surname}}</div>
      <hr class="hr-white">
      <div class="actor-data">
        <div class="data-title">Country:</div>
        <div class="data">{{actor.country}}</div>
        <div class="data-title">Age:</div>
        <div class="data">{{actor.age}}</div>
        <div class="data-title">Birth year:</div>
        <div class="data">{{actor.birthYear}}</div>
        <div class="data-title">Films count:</div>
        <div class="data">{{actor.countFilms}}</div>
        <div *ngIf="isAdmin" class="admin-panel">
          <button (click)="showPhotoAddManager()" pButton type="button" class="p-button-help photo-btn"
            label="Add photo"></button>
          <p-dialog header="Photo delete manager" [(visible)]="display2">
            <div class="actor-add-photo">
              <input placeholder="Photo url" pInput type="text" class="url-input"
                [(ngModel)]="photoAddActor.pictureUrl" />
              <button (click)="addActorPhoto()" pButton type="button" label="Post" class="p-button-info"></button>
            </div>
          </p-dialog>
          <button (click)="showPhotoDeleteManager()" pButton type="button" class="p-button-help photo-btn"
            label="Delete photo"></button>
          <p-dialog header="Photo add manager" [(visible)]="display">
            <p-table [value]="actorPhotos">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 5%;">Id</th>
                  <th>Photo</th>
                  <th>Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr>
                  <td>{{data.id}}</td>
                  <td><img class="actor-data-img" src="{{data.pictureUrl}}" alt=""></td>
                  <td>
                    <button (click)="deleteActorPhoto(data.id)" pButton type="button" label="Delete"></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-dialog>
          <button (click)="showEdit()" pButton type="button" class="p-button-help photo-btn"
            label="Edit actor"></button>
          <p-dialog header="Edit actor" [(visible)]="display3">
            <div class="edit">
              <input class="actor-input" type="text" pInput [(ngModel)]="actorEdit.name" placeholder="Name">
              <input class="actor-input" type="text" pInput [(ngModel)]="actorEdit.surname" placeholder="Surname">
              <input class="actor-input" type="text" pInput [(ngModel)]="actorEdit.country" placeholder="Country">
              <input class="actor-input" type="number" pInput [(ngModel)]="actorEdit.age" placeholder="Age">
              <input class="actor-input" type="number" pInput [(ngModel)]="actorEdit.birthYear" placeholder="Birth year">
              <input class="actor-input" type="number" pInput [(ngModel)]="actorEdit.filmsCount" placeholder="Count of films">
              <textarea class="actor-input" [(ngModel)]="actorEdit.description" cols="30" rows="10"></textarea>
              <img class="actor-edit-img" [src]="actorEdit.pictureUrl">
              <input class="actor-input" type="text" pInput [(ngModel)]="actorEdit.pictureUrl" placeholder="Picture url">
              <button (click)="editActor()" pButton class="p-button-info" label="Edit"></button>
            </div>
          </p-dialog>
          <button (click)="confirmDelete()" pButton type="button" class="p-button-danger" label="Delete actor"></button>

        </div>
      </div>
      <hr class="hr-white">
    </div>
  </div>
  <div class="mid">
    <div class="actors-title">Description:</div>
    <hr class="hr-white">
    <div class="desc">{{actor.description}}</div>
    <div class="actors-title">{{actor.name}}`s photos:</div>
    <hr class="hr-white">
    <p-carousel [numScroll]="1" [value]="actorPhotos">
      <ng-template let-data pTemplate="item">
        <div class="actor-carousel">
          <img class="actor-carousel-img" [src]="data.pictureUrl">
        </div>
      </ng-template>
    </p-carousel>
    <div class="actors-title">{{actor.name}}`s movies:</div>
    <hr class="hr-white">
    <p-carousel [numVisible]="4" [numScroll]="4" [value]="actorMovies" [responsiveOptions]="responsiveOptions">
      <ng-template let-data pTemplate="item">
        <div class="actor-carousel">
          <img class="actor-carousel-img-movie" [src]="getImg(data.pictureUrl)">
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>