<div class="background">
  <div class="upper-block">
    <div>
      <img class="film-image" [src]="getImg()" alt="">
      <p class="film-rate-header">Movie rating: </p>
      <div class="mark-inter-block">
        <h5 class="movie-current-rating">{{movie.rating.toFixed(2)}}</h5>
      </div>
      <div *ngIf="isLoggedIn" class="rate-block">
        <p class="film-rate-header">Rate movie:</p>
        <nz-rate [(ngModel)]="mark"></nz-rate>
        <button class="btn-rate" (click)="rateMovie()">Rate</button>
      </div>
    </div>
    
    <div class="film-info">
      <p class="film-name">{{movie.name}}</p>
      <p class="film-original-name">{{movie.originalName}}</p>
      <hr class="hr-white">
      <table class="actor-data">
        <tr>
          <th>Country:</th>
          <td>{{movie.country}}</td>
        </tr>
        <tr>
          <th>Genre:</th>
          <td>{{movie.genre}}</td>
        </tr>
        <tr>
          <th>Year</th>
          <td>{{movie.year}}</td>
        </tr>
        <tr>
          <th>Director:</th>
          <td>{{movie.director}}</td>
        </tr>
        <tr>
          <th>Composer</th>
          <td>{{movie.composer}}</td>
        </tr>
        <tr>
          <th>Operator</th>
          <td>{{movie.operator}}</td>
        </tr>
        <tr>
          <th>Budget</th>
          <td>{{movie.budget}}</td>
        </tr>
        <tr>
          <th>Length</th>
          <td>{{movie.length}}</td>
        </tr>
      </table>
      <hr class="hr-white">
      <div *ngIf="isAdmin" class="admin-panel">
        <p-dialog header="Available actors" [(visible)]="display">
          <p-table [value] = "availableActors">
            <ng-template pTemplate="header">
              <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Add actor</th>
              </tr>
            </ng-template>
            <ng-template let-actor pTemplate="body">
              <tr>
                <td>
                  <img src="{{actor.pictureUrl}}" alt="">
                </td>
                <td>{{actor.id}}</td>
                <td>{{actor.name}} {{actor.surname}}</td>
                <td>
                  <p-button (click) = "addMovieActor(actor.id)">Add</p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-dialog>
        <p-button (click) = "displayActors()">Add actor</p-button>
        <p-dialog header="Available actors" [(visible)]="display2">
          <p-table [value] = "actors">
            <ng-template pTemplate="header">
              <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Remove actor</th>
              </tr>
            </ng-template>
            <ng-template let-actor pTemplate="body">
              <tr>
                <td>
                  <img src="{{actor.pictureUrl}}" alt="">
                </td>
                <td>{{actor.id}}</td>
                <td>{{actor.name}} {{actor.surname}}</td>
                <td>
                  <p-button (click) = "removeMovieActor(actor.id)">Remove</p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-dialog>
        <p-button class="remove-button" (click) ="displayMovieActors()">Remove actor</p-button>
      </div>
      <div *ngIf="isLoggedIn" class="movie-actions-panel">
        <button pButton label="Watch" class="p-button-success" routerLink="watch"></button>
        <button pButton label="Favourite" class="p-button-help btn-fav" (click)="addToFav()"></button>
      </div>
    </div>
  </div>
  <div class="middle-block">
    <video class="movie-trailer" controls>
      <source  type="video/mp4">
    </video>
    <p class="desc-header">Description:</p>
    <hr>
    <p class="desc">{{movie.description}}</p>
  </div>
  <div class="inter-block">
    <p class="actors-header">Actors:</p>
    <hr class="hr-white">
    <div class="film-actors">
      <div class="actors">
        <div class="actor" *ngFor="let data of actors">
          <img class="grid-image" src="{{data.pictureUrl}}" alt="">
          <p class="actor-name">{{data.name}} {{data.surname}}</p>
        </div>
      </div>
    </div>

  </div>
  <div class="review-block">
    <div class="comment" *ngFor="let data of reviews">
      <div class="user">
        <img class="user-avatar" src="https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png" alt="">
        <p class="user-name">{{getUserName(data.userId)}}</p>
      </div>
      <div class="comment-content">
        <p class="comment-title">{{data.title}}</p>
        <hr class="hr-white">
        <p class="comment-text">{{data.text}}</p>
      </div>

    </div>
    <div class="write-comment-block">
      <div class="write-comment">
        <div>
          <p class="comment-header">Write comment:</p>
          <hr class="hr-white">
        </div>
        <input [(ngModel)]="review.title" nzInput class="write-commment-title" type="text" placeholder="Title">
        <textarea [(ngModel)]="review.text"  rows="5" class="write-commment-text" type="text"
          placeholder="Comment"></textarea>
      </div>
      <button (click)="postReview()" class="comment-btn">Post</button>
    </div>
  </div>
</div>