<div class="background">
  <div class="upper-block">
    <img class="film-image" src="{{movie.pictureUrl}}" alt="">
    <div class="film-info">
      <p class="film-name">{{movie.name}}</p>
      <p class="film-original-name">{{movie.originalName}}</p>
      <hr class="hr-white">
      <table class="actor-data">
        <tr>
          <th>Country:</th>
          <td>{{movie.country}}</td>
        </tr>
        <tr>
          <th>Genre:</th>
          <td>{{movie.genre}}</td>
        </tr>
        <tr>
          <th>Year</th>
          <td>{{movie.year}}</td>
        </tr>
        <tr>
          <th>Director:</th>
          <td>{{movie.director}}</td>
        </tr>
        <tr>
          <th>Composer</th>
          <td>{{movie.composer}}</td>
        </tr>
        <tr>
          <th>Operator</th>
          <td>{{movie.operator}}</td>
        </tr>
        <tr>
          <th>Budget</th>
          <td>{{movie.budget}}</td>
        </tr>
        <tr>
          <th>Length</th>
          <td>{{movie.length}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="middle-block">
    <p class="desc-header">Description:</p>
    <hr>
    <p class="desc">{{movie.description}}</p>
  </div>
  <div class="inter-block">
    <p class="actors-header">Actors:</p>
    <hr class="hr-white">
    <div class="film-actors">
      <div class="actors">
        <div class="actor" *ngFor="let item of movieActors">
          <img class="grid-image" src="{{item.pictureUrl}}" alt="">
          <p class="actor-name">{{item.name}}</p>
        </div>
      </div>
    </div>

  </div>
  <div class="review-block">
    <div class="comment" *ngFor="let item of reviews">
      <div class="user">
        <img class="user-avatar" src="https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png" alt="">
        <p class="user-name">{{getReviewUserName(item.userId)}}</p>
      </div>
      <div class="comment-content">
        <p class=" comment-title">{{item.title}}</p>
        <hr class="hr-white">
        <p class="comment-text">{{item.text}}</p>
      </div>

    </div>
    <div class="write-comment-block">
      <div class="write-comment">
        <div>
          <p class="comment-header">Write comment:</p>
          <hr class="hr-white">
        </div>
        <input nzInput [(ngModel)]="review.title" class="write-commment-title" type="text" placeholder="Title">
        <textarea [(ngModel)]="review.text" rows="5" class="write-commment-text" type="text"
          placeholder="Comment"></textarea>
      </div>
      <button class="comment-btn" (click)="postComment()">Post</button>
    </div>
  </div>
</div>