.background{
    height: 1000px;
}

.upper-block{
    padding: 0 5%;
    background-color: rgb(30,30,30);
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    box-shadow: 0 10px 50px -2px rgb(30,30,30);
}

.film-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: white;
    font-weight: 500;
}

.film-original-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: rgb(205, 205, 205);
}

.hr-white{
    background-color: white;
}

.actor-data{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 50px;
}

.actor-data td{
    float: right;
}

.actor-data tr,td{
    margin-bottom: 20px;
}

.middle-block{
    padding: 50px 5%;
}

.desc-header{
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 36px;
    font-weight: 500;
}

.desc{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.inter-block{
    background-color: #49C6E5;
    padding: 50px 5%;
}

.actors-header{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: white;
}

.actor-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.actors{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 2%;
}

.grid-image{
    display: block;
    max-width: 200px;
}

.film-image{
    display: block;
    max-width: 100%;
}

@media screen and (max-width: 1500px){
    .film-info{
        margin-left: 50px;
    }
}

@media screen and (max-width: 1250px){
    .film-name{
        font-size: 36px;
    }

    .film-original-name{
        font-size: 18px;
    }

    .actor-data td,th{
        font-size: 16px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1050px){
    .actors{
        grid-template-columns: repeat(3,1fr);
        column-gap: 60px;
    }
    
}

@media screen and (max-width: 700px){
    .upper-block{
        grid-template-columns: 1fr;
    }

    .film-info{
        margin-left: 0;
    }

    .film-image{
        margin: auto auto;
    }

    .film-name{
        text-align: center;
    }

    .film-original-name{
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    .actors{
        grid-template-columns: repeat(2,1fr);
    }
}

.review-block{
    padding: 50px 5%;
    background-color: rgb(30,30,30);
}

.comment{
    display: grid;
    grid-template-columns: 100px 1fr;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 25px;
    transition-property: all;
    transition-delay: .25s;
    transition-duration: .25s;
}


.comment:hover{
    transform: scale(1.1);
}

.user-avatar{
    width: 100px;
}

.user-name{
    text-align: center;
    color: white;
    font-weight: 500;
    font-family: 'Montserrat',sans-serif;
}


.comment-title{
    font-weight: 500;
    font-size: 24px;
}

.comment-content{
    padding-left: 50px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.write-comment-block{
    background-color: #49C6E5;
    border-radius: 5px;
    padding: 15px;
    margin-top: 50px;
}

.write-comment{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.write-comment-title{
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.write-comment-text{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 500;
}

.comment-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 18px;
}

.comment-btn{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    width: 10%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(30,30,30);
    color: white;
}

.comment-warn{
    text-align: center;
}

.movie-trailer{
    display: block;
    max-width: 100%;
    margin: 50px auto;
}



.rate-system{
    float: left;
    margin-bottom: 50px;
    width: 100px;
    height: 50px;
}

.mark-inter-block{
    margin: 25px 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.movie-current-rating{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: white;
    font-weight: 600;
}

.film-rate-header{
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 400;
}

.btn-rate{
    border: none;
    padding: 5px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #49C6E5;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
}