<div class="background">
  <div class="content-block">
    <div class="grid-item">
      <nz-table #basicTable [nzData]="list">
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.id }}</td>
            <td>{{ data.title }}</td>
            <td>
              <a (click)="deleteNews(data.id)">Delete</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div class="grid-item">
      <div class="form">
        <p class="add-actor-header">Add news</p>
        <input nz-input type="text" class="form-control" placeholder="Title" [(ngModel)]="article.title"/>
        <textarea class="area" placeholder="Text" [(ngModel)]="article.text"></textarea>
        <input nz-input type="text" class="form-control purl" placeholder="Picture url" [(ngModel)]="article.pictureUrl"/>
        <button class="btn-manager" (click)="postNews()">Add news</button>
      </div>

    </div>
  </div>
</div>