<div class="bg">
  <div class="login-form">
    <div class="title">Register</div>
    <input [(ngModel)]="user.email" class="auth-input" type="text" placeholder="Email">
    <input [(ngModel)]="user.country" class="auth-input" type="text" placeholder="Country">
    <input [(ngModel)]="user.gender" class="auth-input" type="text" placeholder="Gender">
    <input [(ngModel)]="user.age" class="auth-input" type="text" placeholder="Age">
    <input [(ngModel)]="user.password" class="auth-input" type="password" placeholder="Password">
    <input [(ngModel)]="confirm" class="auth-input" type="password" placeholder="Confirm password">
    <button (click)="Register()" class="auth-btn">Register</button>
  </div>
</div>