<div class="page">
  <div class="bg">
    <div class="section media"></div>
    <div class="section form">
      <div class="text-content">
        <div class="logo-text"><span class="logo-upper-text">MovieProject </span><strong class="logo-under-text">!WATCH</strong></div>
        <div class="auth">
          <div class="text">Login via MovieProject</div>
          <input [(ngModel)]="user.email" placeholder="Email" pInput class="auth-input" type="text">
          <input [(ngModel)]="user.password" placeholder="Password" pInput class="auth-input" type="password">
          <button (click)="login()" pButton label="Login" class="auth-btn"></button>
        </div>
      </div>
    </div>
  </div>
</div>