.background{
    background-color: rgb(30,30,30);
    min-height: 100%;
    padding: 100px 5%;
}

.user-profile-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: white;
    font-weight: bold;
}

.dep-btn{
    margin-top: 20px;
}

.user{
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.user-media{
    display: grid;
    grid-template-columns: 1fr;
}

.url-input{
    margin-top: 10px;
    width: 53%;
}

.edit-btn{
    margin-top: 10px;
}

.hr-white{
    background-color: white;
}

.data{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
    line-height: 1.8rem;
}