.background{
  padding: 100px 5%;
  text-align: center;
  background: rgb(30,30,30);
  height: 1000px;
}

.btns{
  margin: 20% auto;
}

.manager-button{
  background-color: #00bfcc;
  color: white;
  font-family: 'Montserrat', sans-serif;
  width: 15%;
  font-weight: 500;
  font-size: 36px;
  margin-right: 50px;
}