<div style="height: 32px;"></div>
<nz-layout>
  <nz-sider nzCollapsible>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Panels">
        <ul>
          <li (click)="actorPanelClick()" nz-menu-item>Actors</li>
          <li (click)="moviePanelClick()" nz-menu-item>Movies</li>
          <li (click)="userPanelClick()" nz-menu-item>Users</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Post">
        <ul>
          <li (click)="actorAddClick()" nz-menu-item>Actors</li>
          <li (click)="movieAddClick()" nz-menu-item>Movies</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <h1 class="page-title">Admin Panel</h1>
    <nz-content>
      <div class="inner-content">
        <nz-table nzTitle="Movies" #basicTable [nzData]="movieList" class="movie-panel" *ngIf="div1">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Director</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.id }}</td>
              <td>{{ data.name }}</td>
              <td>{{ data.director }}</td>
              <td>
                <a>Action 一 {{ data.name }}</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Delete</a>
              </td>
            </tr>
          </tbody>
        </nz-table>

        <nz-table nzTitle="Actors" #basicTable [nzData]="actorList" class="movie-panel" *ngIf="div2">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Age</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.id }}</td>
              <td>{{ data.name }}</td>
              <td>{{ data.age }}</td>
              <td>
                <a>Action 一 {{ data.name }}</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Delete</a>
              </td>
            </tr>
          </tbody>
        </nz-table>

        <nz-table nzTitle="Users" #basicTable [nzData]="" class="movie-panel" *ngIf="div3">
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Address</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.name }}</td>
              <td>{{ data.age }}</td>
              <td>{{ data.address }}</td>
              <td>
                <a>Action 一 {{ data.name }}</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Delete</a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>