.background{
    background-color: rgb(30,30,30);
    min-height: 100%;
    padding: 100px 5%;
}

.actor-img{
    max-width: 100%;
    border-radius: 0;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 5%;
    transition-duration: 1s;
    transition-delay: .25s;
}

.actor{
    position: relative;
    text-align: center;
    transition: width;
    cursor: pointer;
}

.actors{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    row-gap: 50px;
    column-gap: 5%;
}

.movie-filters{
    padding: 50px 0;
}

.search-button{
    margin-top: 10px;
}

.filter-title{
    font-family: 'Montserrat',sans-serif;
    color: white;
    font-weight: 500;
    font-size: 24px;
}

.filter-chip{
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    border-radius: 25px;
    color: white;
    background-color: gray;
    cursor: pointer;
}

.selected{
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    border-radius: 25px;
    color: white;
    background-color: green;
    cursor: pointer;
}

.country, .genre, .year{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 25px;
}

.search-movie{
    margin-bottom: 50px;
}

@media screen and (max-width: 1300px){
    .actors{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width: 600px){
    .actors{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 400px){
    .actors{
        grid-template-columns: 1fr;
    }
}