<div class="background">
  <div class="content-block">
    <div class="grid-item">
      <button class="btn-manager">Add movie</button>
      <nz-table #basicTable [nzData]="list">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Year</th>
            <th>Director</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.year }}</td>
            <td>{{ data.director }}</td>
            <td>
              <a (click)="showEditMovie(data.id)">Edit</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="deleteMovie(data.id)">Delete</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div class="grid-item">
      <div class="form" *ngIf="div1 == true">
        <p class="add-actor-header">Add movie</p>
        <input class="form-input" nz-input type="text" placeholder="Name" [(ngModel)]="movie.name" />
        <input class="form-input" nz-input type="text" placeholder="Original name" [(ngModel)]="movie.originalName" />
        <input class="form-input" nz-input type="number" placeholder="Year" [(ngModel)]="movie.year" />
        <input class="form-input" nz-input type="text" placeholder="Description" [(ngModel)]="movie.description" />
        <input class="form-input" nz-input type="text" placeholder="Country" [(ngModel)]="movie.country" />
        <input class="form-input" nz-input type="text" placeholder="Director" [(ngModel)]="movie.director" />
        <input class="form-input" nz-input type="text" placeholder="Operator" [(ngModel)]="movie.operator" />
        <input class="form-input" nz-input type="text" placeholder="Composer" [(ngModel)]="movie.composer" />
        <input class="form-input" nz-input type="text" placeholder="Genre" [(ngModel)]="movie.genre" />
        <input class="form-input" nz-input type="text" placeholder="Slogan" [(ngModel)]="movie.slogan" />
        <input class="form-input" nz-input type="number" placeholder="Budget" [(ngModel)]="movie.budget" />
        <input class="form-input" nz-input type="number" placeholder="Length" [(ngModel)]="movie.length" />
        <input class="form-input" nz-input type="number" placeholder="Count of views" [(ngModel)]="movie.countViews" />
        <input class="form-input" nz-input type="text" placeholder="Picture url" [(ngModel)]="movie.pictureUrl" />
        <input class="form-input" nz-input type="text" placeholder="Trailer url" [(ngModel)]="movie.trailerUrl" />
        <button class="btn-manager" (click)="postMovie()">Add movie</button>
      </div>

      <div class="form" *ngIf="div2 == true">
        <p class="add-actor-header">Edit movie</p>
        <input class="form-input" type="name" nz-input placeholder="Name" [(ngModel)]="movie.name" />
        <input class="form-input" type="name" nz-input placeholder="Original name" [(ngModel)]="movie.originalName" />
        <input class="form-input" type="number" nz-input type="number" placeholder="Year" [(ngModel)]="movie.year" />
        <input class="form-input" type="name" nz-input placeholder="Description" [(ngModel)]="movie.description" />
        <input class="form-input" type="name" nz-input placeholder="Country" [(ngModel)]="movie.country" />
        <input class="form-input" type="name" nz-input placeholder="Director" [(ngModel)]="movie.director" />
        <input class="form-input" type="name" nz-input placeholder="Operator" [(ngModel)]="movie.operator" />
        <input class="form-input" type="name" nz-input placeholder="Composer" [(ngModel)]="movie.composer" />
        <input class="form-input" type="name" nz-input placeholder="Genre" [(ngModel)]="movie.genre" />
        <input class="form-input" type="name" nz-input placeholder="Slogan" [(ngModel)]="movie.slogan" />
        <input class="form-input" type="number" nz-input placeholder="Budget" [(ngModel)]="movie.budget" />
        <input class="form-input" type="number" nz-input placeholder="Length" [(ngModel)]="movie.length" />
        <input class="form-input" type="number" nz-input placeholder="Count of views" [(ngModel)]="movie.countViews" />
        <input class="form-input" type="name" nz-input placeholder="Picture url" [(ngModel)]="movie.pictureUrl" />
        <input class="form-input" type="name" nz-input placeholder="Trailer url" [(ngModel)]="movie.trailerUrl" />
        <button class="btn-manager" (click)="editMovie()">Edit movie</button>
      </div>
    </div>
  </div>
</div>
